.form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form label{
    padding: 5px 0;
}
.form input, .form textarea, .form select{
    border: 1px solid #9F70FD;
    padding: 0.5rem;
    border-radius: 4px;
}

.form textarea{
height: 5cm;
}

.form input[type='submit']{
background-color: #9F70FD;
color: white;
margin-top: 5px;
}
.form input[type='submit']:hover{
    background-color: #7F27FF;
}

#add_product{
    background-color: #FF8911;
    color: white;
    border: 0;
    border-radius: 4px;

}
#add_product:hover{
    background-color: #cf6700;
}