*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #9F70FD;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navbar ul li{
    padding: 1rem 1rem;
    cursor: pointer;
    color: white;
}
.navbar ul li:hover{
    background-color: #7F27FF;
    
}

.active{
    background-color: #FF8911;
}