{% extends "base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script>
    function printbill() {
        let b = document.getElementsByTagName('body')[0].innerHTML
        document.getElementsByTagName('body')[0].innerHTML = document.getElementById('priantable').innerHTML
        window.print()
        document.getElementsByTagName('body')[0].innerHTML = b
    }

    window.addEventListener('load', jsontoobj)
    function jsontoobj(){
        let a = document.getElementById('jsonstr').innerHTML
        console.log(a);
        b = JSON.parse(a)
        console.log(b);
    }
</script>
{% endblock head %}

{% block body %}
<div class="cont" id="priantable">
    <div class="flexbox">
        <h1 class="heading">Invoices</h1>
        <button class="editbtn" onclick="printbill()"style='padding:0.4rem 1.4rem;'>Print</button>
    </div>
    <div>
        <b>Date_Time:</b> {{salse_details.Date_Time}}<br>
        <b>Transaction_code:</b> {{salse_details.Transaction_code}}<br>
        <b>Customers_name:</b> {{salse_details.Customers_name}}<br>
        <b>Total_items:</b> {{salse_details.Total_items}}<br>
        <b>Total_ammount:</b> {{salse_details.Total_ammount}}<br>
    </div>

</div>
{% endblock body %}